
  <section class="space-y-[30px]">
    <div>
      <h2 class="font-bold text-2xl mb-[25px]">Section 1</h2>
      <overseer-clone-carousel></overseer-clone-carousel>
    </div>

    <div>
      <h2 class="font-bold text-2xl mb-[25px]">Section 1</h2>
      <overseer-clone-carousel></overseer-clone-carousel>
    </div>

    <div>
      <h2 class="font-bold text-2xl mb-[25px]">Section 1</h2>
      <overseer-clone-carousel></overseer-clone-carousel>
    </div>

    <div>
      <h2 class="font-bold text-2xl mb-[25px]">Section 1</h2>
      <overseer-clone-carousel></overseer-clone-carousel>
    </div>

    <div>
      <h2 class="font-bold text-2xl mb-[25px]">Section 1</h2>
      <overseer-clone-carousel></overseer-clone-carousel>
    </div>
  </section>

