<swiper-container direction="horizontal" space-between="20px" slides-per-view="auto" mousewheel="true" css-mode="true">
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
  <swiper-slide class="w-[270px] h-[150px] rounded-xl border border-black"></swiper-slide>
</swiper-container>
