<nav class="hidden md:block space-y-[65px] px-[15px] sticky inset-0 h-full bg-white">
  <div class="h-[80px] flex items-center justify-center"><span>Overseerr</span></div>
  <ul class="space-y-[10px]">
    <li><a routerLink="#" class="text-xl">Découvrir</a></li>
    <li><a routerLink="#" class="text-xl">Films</a></li>
    <li><a routerLink="#" class="text-xl">Séries</a></li>
    <li><a routerLink="#" class="text-xl">Demandes</a></li>
    <li><a routerLink="#" class="text-xl">Problèmes</a></li>
    <li><a routerLink="#" class="text-xl">Utilisateurs</a></li>
    <li><a routerLink="#" class="text-xl">Paramètres</a></li>
  </ul>
</nav>
